/*大转盘*/
#wrap {
    width: 100%;
    height: 13.35rem;
    background-image: url("../image/bg.png");
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;

}

.header {
    padding: 0.225rem 0.37rem 0rem 0.37rem;
}

.rule,
.my {
    position: relative;
    z-index: 1;
    width: 1.425rem;
    height: 0.575rem;
    border: 1px solid #f58d40;
    font-size: 0.3rem;
    line-height: 0.565rem;
    text-align: center;
    color: #f58d40;
    border-radius: 0.05rem;
}

.my {
    width: 1.425rem;
}

.title {
    width: 6.39rem;
    height: 3.16rem;
    margin: auto;
    background-image: url("../image/title.png");
}

/*轮盘*/
.rotate {
    position: relative;
    width: 100%;
    height: 6.7rem;
    margin-top: -0.375rem;
}

.lunpai {
    position: absolute;
    left: 50%;
    top: 0;
    width: 6.64rem;
    height: 6.64rem;
    margin-left: -3.32rem;
    background-image: url("../image/circle.png");
}

.ring {
    position: absolute;
    left: 50%;
    top: 0.1875rem;
    width: 6.3rem;
    height: 6.3rem;
    margin-left: -3.15rem;
    background-image: url("../image/dark.png");
}

.rotate div.light {
    background-image: url("../image/light.png");
}

#btn {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1.6rem;
    height: 1.98rem;
    margin: -.99rem 0 0 -.8rem;
    background-image: url("../image/button.png");
}

/*奖品*/
.prize {
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -2.9rem 0 0 -2.9rem;
    width: 5.8rem;
    height: 5.8rem;
    border-radius: 50%;
}

.running {
    -o-animation: init 90s linear infinite;
    -ms-animation: init 90s linear infinite;
    -moz-animation: init 90s linear infinite;
    -webkit-animation: init 90s linear infinite;
    animation: init 90s linear infinite;
}

@keyframes init {
    100% {
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.prize li div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2.9rem;
    background: no-repeat center 35%;
    font-size: 0.32rem;
    font-weight: bold;
    line-height: 0.8rem;
    text-align: center;
    color: #e75228;
    -moz-transform-origin: center bottom;
    -webkit-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
}

.prize li:nth-child(1) div {
    background-image: url("../image/gift2.png");
    background-size: 0.69rem 0.73rem;
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.prize li:nth-child(2) div {
    background-image: url("../image/20.png");
    background-size: 0.69rem 0.73rem;
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

.prize li:nth-child(3) div {
    background-image: url("../image/20.png");
    background-size: 0.69rem 0.73rem;
    -o-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
}

.prize li:nth-child(4) div {
    background-image: url("../image/gift.png");
    background-size: 0.69rem 0.73rem;
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.prize li:nth-child(5) div {
    background-image: url("../image/gift3.png");
    background-size: 0.69rem 0.73rem;
    -o-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    -moz-transform: rotate(240deg);
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
}

.prize li:nth-child(6) div {
    background-image: url("../image/face.png");
    background-size: 1.02666667rem 1.02666667rem;
    -o-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    -moz-transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
}

.prize li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: -50%;
    border-right: 2px solid #f6625c;
    -o-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -o-transform: rotate(30deg) skewY(30deg);
    -ms-transform: rotate(30deg) skewY(30deg);
    -moz-transform: rotate(30deg) skewY(30deg);
    -webkit-transform: rotate(30deg) skewY(30deg);
    transform: rotate(30deg) skewY(30deg);
}

.prize li p {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 50%;
    height: 60%;
    padding-top: 0.2rem;
    text-align: center;
    line-height: 0.25rem;
}

/*次数*/
.border {
    width: 3.8rem;
    height: 0.63rem;
    margin: 0rem auto 0.25rem;
    background: #fb3a13;
    font-size: 0.24rem;
    line-height: 0.63rem;
    text-align: center;
    color: #fff;
    border-radius: 0.45rem
}

/*中奖记录*/
.scroll {
    width: 5.5rem;
    height: 1.75rem;
    margin: .75rem auto 0rem auto;
}

.scroll p {
    width: 3.72rem;
    height: 0.37rem;
    margin: auto;
    background-image: url("../image/list.png");
}

.sideBox {
    width: 100%;
    height: .6rem;
    margin-top: 0.15rem;
    padding: 0.15rem 0rem 0.15rem 0rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.075rem;
    overflow: hidden;
}

.sideBox .bd {
    width: 100%;
    height: .6rem;
    overflow: hidden;
}

.sideBox ul li {
    overflow: hidden;
    text-align: center;
    font-size: 0.165rem;
    line-height: 0.3rem;
    color: #fff;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/*中奖提示*/
#mask, #mask2 {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
}

#mask .blin, #mask2 .blin {
    width: 100%;
    height: 100%;
    background-image: url("../image/redPack/gold.png");
    -o-animation: circle 10s linear infinite;
    -ms-animation: circle 10s linear infinite;
    -moz-animation: circle 10s linear infinite;
    -webkit-animation: circle 10s linear infinite;
    animation: circle 10s linear infinite;
}

@keyframes circle {
    0% {
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#mask .caidai, #mask2 .caidai {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("../image/dianzhui.png");
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#mask .winning, #mask2 .winning {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 6.75rem;
    height: 6rem;
    margin: -3rem 0 0 -3.375rem;
    -o-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    background: url(../image/bg2.png) no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}

#mask2 .winning {
    background: url(../image/bg3.png) no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
}

#mask .reback, #mask2 .reback {
    -o-animation: reback .5s linear forwards;
    -ms-animation: reback .5s linear forwards;
    -moz-animation: reback .5s linear forwards;
    -webkit-animation: reback .5s linear forwards;
    animation: reback .5s linear forwards;
}

@keyframes reback {
    100% {
        -o-transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.winning p {
    position: absolute;
    left: 50%;
    top: 30%;
    width: 80%;
    margin-left: -40%;
    color: #FFF;
    font-size: 0.525rem;
    text-align: center;
}

.winning p b {
    font-size: 0.6rem;
}

.winning .btn {
    position: absolute;
    left: 50%;
    bottom: 15%;
    z-index: 2;
    width: 3.64rem;
    height: 0.71rem;
    line-height: 0.71rem;
    margin-left: -1.82rem;
    background-color: #ffee8d;
    border-radius: 0.45rem;
    -webkit-border-radius: 0.45rem;
    color: #f62a39;
    text-align: center;
    font-size: 0.45rem;

}

@keyframes shake {
    50% {
        -o-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    100% {
        -o-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
}

#close {
    opacity: 0;
    position: absolute;
    right: 0rem;
    top: -.8rem;
    z-index: 10;
    width: 0.64rem;
    height: 0.64rem;
    background-image: url("../image/close.png");
    -o-animation: fadein .5s .5s linear forwards;
    -ms-animation: fadein .5s .5s linear forwards;
    -moz-animation: fadein .5s .5s linear forwards;
    -webkit-animation: fadein .5s .5s linear forwards;
    animation: fadein .5s .5s linear forwards;
}

@keyframes fadein {
    100% {
        opacity: 1;
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
